---
export interface Props {
  href: string;
  text: string;
  className?: string;
  variant: "primary" | "secondary";
}

const { href, text, className, variant } = Astro.props;

const styles = {
  primary:
    "border border-white text-white hover:bg-white hover:text-black transition-all duration-500",
  secondary:
    "bg-white text-black hover:bg-gray-200 transition-all duration-300",
};
---

<a
  href={href}
  class={`px-6 py-3 rounded-full font-medium ${styles[variant]} ${className}`}
>
  {text}
</a>