---
import { Image } from "astro:assets";
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

import myHeroImage1 from "../../assets/images/hero1.jpg";
import myHeroImage2 from "../../assets/images/hero2.jpg";
import myHeroImage3 from "../../assets/images/hero3.jpg";
import hero from "../../assets/videos/hero.mp4";
import CtaButton from "../shared/CtaButton.astro";
import ByResult from "./ByResult.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class="relative min-h-screen flex items-center overflow-hidden">

  <div class="absolute inset-0">
    <!-- Video de fondo -->
 <video
  autoplay
  muted
  loop
  playsinline
  class="absolute inset-0 w-full h-full object-cover"
>
  <source src={hero} type="video/mp4" />
</video>
    <div class="absolute inset-0 bg-gradient-to-b from-slate-950/90 via-slate-950/80 to-slate-950/95"></div>
  </div>

  <!-- Contenido -->
  <Container className="relative z-10 text-center max-w-4xl mx-auto">
    <h1 class="text-4xl sm:text-5xl xl:text-6xl font-semibold text-white leading-tight">
      Producción integral para eventos en CDMX
    </h1>

    <Paragraph className="mt-6 text-slate-300">
      DJ profesional, audio e iluminación de alto nivel, mesas, sillas,
      meseros y todo lo necesario para que tu evento funcione
      de principio a fin, con un solo equipo.
    </Paragraph>

    <div class="mt-8 w-full flex flex-col">
        <div class="lg:mx-auto mb-5">
          <CtaButton />
        </div>
        <div class="mx-auto mt-5">
          <ByResult />
        </div>
      </div>
    </div>
  </Container>

</section>