---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/sections/Contact.astro";
---
<Layout title="Contacto">
  <main>
    <Contact className="py-10 md:py-16" />
  </main>
</Layout