---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Brands from "../components/sections/Brands.astro";
import Services from "../components/sections/Services.astro";
import FAQ from "../components/sections/FAQ.astro";
import Features from "../components/sections/Contact.astro";
import CTA from "../components/sections/CTA.astro";
import Solutions from "../components/sections/Solutions.astro";
import Packages from "../components/sections/Packages.astro";
import Contact from "../components/sections/Contact.astro";
---

<Layout title="Eventos Constantino">
  <main class="flex flex-col overflow-hidden">
    <Hero className="py-10 md:py-16" />
    <!-- <Services className="py-10 md:py-16" />
    <Packages className="py-10 md:py-16" />
    <FAQ className="py-10 md:py-16" />
    <Contact /> -->
  </main>
</Layout>




